<%- include(`heading`) -%>

<div class="formboi">

    <form action="/contact" method="post" class="formanizer">

        <h1 class="formh1"> Send us a message </h1>
        
        <p class="typ">Thank you for submitting!</p>

        <input type="email" name="emailers" class="emailboi" placeholder="Email">
        <textarea name="personMsg" cols="100" rows="10" class="textboi"> </textarea>
    
        <button type="submit" class="buynow1"> Submit </button>
    
    </form>

</div>



<%- include(`footer`) -%>