<%- include(`heading`) -%>

<div class="gallerymain"> 

    <div class="gal1">
        <img src="https://cdn.pixabay.com/photo/2020/04/03/19/02/virus-4999857__340.png" class="gal1photo"> 
        <img src="https://cdn.pixabay.com/photo/2020/02/17/19/33/tree-4857597__340.png" class="gal1photo">
    </div>

    <div class="gal2">
        <img src="https://cdn.pixabay.com/photo/2019/04/29/20/41/amsterdam-4167026__340.png" class="gal1photo">
        <img src="https://cdn.pixabay.com/photo/2018/08/27/10/11/radio-cassette-3634616__340.png" alt="" class="gal1photo">
    </div>

    <div class="gal3">
        <img src="https://cdn.pixabay.com/photo/2019/07/25/17/09/camp-4363073__340.png" class="gal3photo" alt="">
        <img src="https://cdn.pixabay.com/photo/2019/06/27/06/49/plane-4301615__340.png" class="gal3photo" alt="">
        <img src="https://cdn.pixabay.com/photo/2019/08/09/19/22/leaves-4395694__340.png" class="gal3photo" alt="">
    </div>

</div>

<div class="creds">
    <p> Credits to Pixabay </p>
</div>

<%- include(`footer`) -%>