<%- include(`heading`) -%>

<div class="firstbase">
    <div class="capturetxt"> 
        <h1>  Capture <br/> the <br/> <p class="moments1"> moments </p> </h1>
        <p> <span class="photogp"> <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwj98_ut5sTsAhWNwJQKHb-YCRAQFjALegQIAhAC&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FPhotography&usg=AOvVaw0ifqAy_FVx_M0dECWH0-fK" class="photogplink"> Photography </a> </span> is the art, application and practice of creating durable images by recording light, either electronically by means of an image sensor, or chemically by means of a light-sensitive material such as photographic film. </p>
    </div>

    <div class="cameraphoto"> 
        <img src="https://images.unsplash.com/photo-1513031300226-c8fb12de9ade?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="putocam">
    </div>
</div>

<div class="secondbase">
    <div class="onecont">
        <i class="icons1 fas fa-camera fa-4x"></i>
        <h2 class="h2s"> Use the Camera You Already Have </h2>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, ipsam debitis molestias perspiciatis error ad ipsum voluptatem sapiente nihil dolorum! </p>
    </div>

    <div class="twocont">
        <i class="icons2 fas fa-lightbulb fa-4x"></i>
        <h2 class="h2s"> Pay Attention to the Light </h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias maxime necessitatibus, soluta in velit nulla?</p>
    </div>

    <div class="threecont">
        <i class="icons3 fas fa-mountain fa-4x"></i>
        <h2 class="h2s"> Learn Which Settings Matter </h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem perspiciatis velit dignissimos quos nulla id possimus consequuntur accusamus tempora vel.</p>
    </div>
</div>


<div class="section1">

<div class="samplepics-title">
    <h1>Sample shots </h1>
</div>

<div id="sample-pics" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#sample-pics" data-slide-to="0" class="active"></li>
      <li data-target="#sample-pics" data-slide-to="1"></li>
      <li data-target="#sample-pics" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cdn.pixabay.com/photo/2020/08/14/15/22/canal-5488271__340.jpg" class="d-block w-100" alt="...">
        <p class="pics-creators"> By: iulian_ursache (pixabay) </p>
      </div>
      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2020/06/29/03/02/bo-leaf-5351180__340.jpg" class="d-block w-100" alt="...">
        <p class="pics-creators"> By: kalyanayahaluwo (pixabay) </p>
      </div>
      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2020/03/25/20/20/alpine-4968554__340.jpg" class="d-block w-100" alt="...">
        <p class="pics-creators"> By: ThMilherou (pixabay) </p>
      </div>
    </div>
    <a class="carousel-control-prev" href="#sample-pics" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#sample-pics" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>

<div id="links">
    <div class="linklogo">
        <h1> social links </h1>
    </div>

    <div class="social-links">
        <li> <a href="https://facebook.com" target="_blank" class="iconers"> <i class="iconslinks fab fa-facebook fa-2x"></i> </a></li>

        <li> <a href="https://twitter.com" target="_blank" class="iconers"> <i class="iconslinks fab fa-twitter fa-2x"></i> </a></li>

        <li> <a href="https://youtube.com" target="_blank" class="iconers"> <i class="iconslinks fab fa-youtube fa-2x"></i> </a></li>
        
        <li> <a href="https://github.com" target="_blank" class="iconers"> <i class="iconslinks fab fa-github fa-2x"></i> </a></li>
    </div>
</div> 

<%- include(`footer`) -%>