<%- include(`heading`) -%>

<div class="cardmain">

    <h1 class="pl"> Price Lists </h1>

    <div class="cardbase">
        <div class="cards">
            <h3> 500 Pesos </h3>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, adipisci. </p>
            <button type="submit" class="buynow1" > Buy now </button>
        </div>

        <div class="cards">
            <h3> 1500 Pesos </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. A blanditiis, deleniti aliquid ab alias libero est mollitia architecto?</p>
            <button type="submit" class="buynow" > Buy now </button>
        </div>

        <div class="cards">
            <h3> 3000 Pesos </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Est voluptate nesciunt adipisci vero odit necessitatibus commodi ipsam possimus. Ad, saepe.</p>
            <button type="submit" class="buynow"> Buy now </button>
        </div>

    </div>

    <p class="pinfo"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo id a mollitia dolorum, ex laboriosam asperiores ducimus sit suscipit atque consequuntur magni amet sequi maxime doloremque cumque soluta debitis error? Quod perspiciatis, unde distinctio labore optio laudantium sapiente nemo ut doloremque nulla. Alias voluptatibus tempora, aliquam veritatis ut voluptatum esse.</p>

</div>

<%- include(`footer`) -%>